version: '3.8'

services:
  nginx:
    image: nginx
    volumes:
      - ./docker/zaakbrug-nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - zaakbrug-stack
      - zaakbrug-backend
    ports:
      - 9000:9000
    depends_on:
      - zaakbrug

  zaakbrug:
    build:
      context: .
      args:
        FF_VERSION: ${FF_VERSION:-8.1.0-20240404.042328}
    image: wearefrank/zaakbrug:${ZAAKBRUG_VERSION:-latest}
    container_name: zaakbrug.dev
    environment:
      - zaakbrug.zds.timezone=UTC
      - TZ=Europe/Amsterdam
      - GC_LOGGING_ENABLED=false
      - "JAVA_OPTS=$JAVA_OPTS -XX:InitialRAMPercentage=25.0 -XX:MaxRAMPercentage=75.0"
    volumes:
      - ../frank-runner/data:/usr/local/tomcat/data
      - logs:/usr/local/tomcat/logs
      # - ./data:/usr/local/tomcat/data
      - ./src/main/configurations:/opt/frank/configurations:ro
    networks:
      - zaakbrug-stack
      - zaakbrug-backend
    ports:
      - 8080:8080
      - 9010:9010

  soapui-testrunner:
    profiles:
      - soapui
    image: smartbear/soapuios-testrunner:latest
    container_name: soapui-testrunner
    volumes:
      - ./src/main/configurations/Translate/Common/xsd/Zaak_DocumentServices_1_1_02:/zaakbrug/src/main/configurations/Translate/Common/xsd/Zaak_DocumentServices_1_1_02
      - ./e2e/SoapUI/zaakbrug-e2e-soapui-project.xml:/zaakbrug/e2e/SoapUI/zaakbrug-e2e-soapui-project.xml
      - ./e2e/reports:/reports
    environment:
      - COMMAND_LINE=-f/%reports% '/zaakbrug/e2e/SoapUI/zaakbrug-e2e-soapui-project.xml' -a -A -j -r
    depends_on:
      zaakbrug:
        condition: service_healthy
    network_mode: host

volumes:
  logs:
  media:
  private-media:

networks:
  zaakbrug-stack:
  zaakbrug-backend:
