<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
    >

    <import resource="springIbisTestTool.xml"/>

    <bean name="metadataExtractor" class="nl.nn.testtool.MetadataExtractor">
        <property name="extraMetadataFieldExtractors">
            <list>
                <bean class="nl.nn.testtool.metadata.StatusMetadataFieldExtractor">
                    <property name="errorLabel" value="Aborted" />
                    <property name="maxLength" value="30" />
                    <property name="delegate">
                        <bean class="nl.nn.testtool.metadata.XpathMetadataFieldExtractor">
                            <property name="label" value="Status" />
                            <property name="extractFrom" value="last" />
                            <!-- This XPath should yield a non-blank result if there is an error.
                                 See CreateFo03Response.xslt -->
                            <property name="xpath" value="/*//*[local-name()='body']/*[local-name()='omschrijving']" />
                            <property name="delegate">
                                <bean class="nl.nn.testtool.metadata.XpathMetadataFieldExtractor">
                                    <!-- Fallback if we do not have a value from tag "omschrijving" that should have been filled for an error.
                                         If there is an error, this typically yields "SOAP-ENV:Server".
                                         If we still get an empty string from this, we can assume success -->
                                    <property name="label" value="Status" />
                                    <property name="defaultValue" value="Success" />
                                    <property name="extractFrom" value="last" />
                                    <property name="xpath" value="/*//faultcode" />
                                </bean>
                            </property>
                        </bean>                    
                    </property>
                </bean>
                <!-- See src/main/resources/ladybug/DatabaseChangelog_Custom.xml for added custom columns -->
                <bean class="nl.nn.testtool.metadata.SessionKeyMetadataFieldExtractor">
                    <property name="name" value="soapAction"/>
                    <property name="label" value="SOAPAction"/>
                    <property name="sessionKey" value="SOAPAction" />
                    <property name="regex" value="\/([^\/_]*_\w+)$" />
                </bean>
                <bean class="nl.nn.testtool.metadata.XpathMetadataFieldExtractor">
                    <property name="name" value="identificatie" />
                    <property name="label" value="identificatie" />
                    <property name="extractFrom" value="all" />
                    <property name="xpath"
                        value="string-join(distinct-values(//*[local-name()='identificatie'][matches(.,'([A-Z])')]), ', ')" />
                </bean>
            </list>
        </property>
    </bean>

    <bean name="metadataNames" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <value>storageId</value>
                <value>endTime</value>
                <value>duration</value>
                <value>name</value>
                <value>soapAction</value>
                <value>identificatie</value>
                <value>correlationId</value>
                <value>status</value>
                <value>numberOfCheckpoints</value>
                <value>estimatedMemoryUsage</value>
                <value>storageSize</value>
            </list>
        </constructor-arg>
    </bean>
</beans>