<ZKN:heeftAlsInitiator StUF:entiteittype="ZAKBTRINI" StUF:verwerkingssoort="T" xmlns:StUF="http://www.egem.nl/StUF/StUF0301" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:BG="http://www.egem.nl/StUF/sector/bg/0310" xmlns:ZKN="http://www.egem.nl/StUF/sector/zkn/0310">
    <ZKN:gerelateerde>
        <ZKN:nietNatuurlijkPersoon StUF:entiteittype="NNP" StUF:verwerkingssoort="T">
                <BG:aoa.huisletter xsi:nil="true" StUF:noValue="geenWaarde" />
                <BG:aoa.huisnummertoevoeging />
                <BG:inp.locatiebeschrijving xsi:nil="true" StUF:noValue="geenWaarde" />
            </BG:bezoekadres>
        </ZKN:nietNatuurlijkPersoon>
    </ZKN:gerelateerde>
    <StUF:extraElementen />
</ZKN:heeftAlsInitiator>