name: Continuous Integration

on:
  pull_request:
    branches:
      - main
      - master

jobs:
  version-next:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      version-next: ${{ steps.reference.outputs.next-reference }}
      version-next-strict: ${{ steps.reference.outputs.next-reference }}
    steps:
      - uses: step-security/harden-runner@6c439dc8bdf85cadbbce9ed30d1c7b959517bc49 # v2.12.2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443

      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #4.2.2

      - name: Next Reference
        id: reference
        uses: wearefrank/ci-cd-templates/next-reference@692c637ef4f5519d986d69e443997ab80fed8deb #2.0.2

  ci:
    uses: wearefrank/ci-cd-templates/.github/workflows/ci-generic.yml@692c637ef4f5519d986d69e443997ab80fed8deb #2.0.2
    needs:
      - version-next
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
    with:
      version: ${{ needs.version-next.outputs.version-next }}
      docker-image-repo: ${{ vars.DOCKER_IMAGE_REPOSITORY }}
      docker-image-name: ${{ vars.DOCKER_IMAGE_NAME }}
      upload-sarif-to-security: false
      run-frank-till-healthy-enabled: false

  run-larva-scenarios:
    uses: ./.github/workflows/run-larva-scenarios.yml
    needs:
      - version-next
      - ci
    with:
      image-id: ${{ needs.ci.outputs.image-id }}

  soapui-testrunner:
    uses: wearefrank/ci-cd-templates/.github/workflows/soapui-testrunner.yml@50a6bc0338691d1bb0112fb532d99ccee6e4ce30 #2.1.3
    needs:
      - ci
      - run-larva-scenarios
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
    with:
      soapui-project: 'e2e/SoapUI/zaakbrug-e2e-soapui-project.xml'
      image-id: ${{needs.ci.outputs.image-id}}
      image-build-artifact-name: 'build-docker-image'
      image-tarball-file: 'image.tar'
      setup-script: |
        docker compose -f compose.frank.loc.yaml -f ./contrib/compose.frank.postgres.yaml -f ./contrib/compose.openzaak.loc.yaml up -d
      teardown-script: |
        docker compose -f compose.frank.loc.yaml -f ./contrib/compose.frank.postgres.yaml -f ./contrib/compose.openzaak.loc.yaml down -v
