name: Continuous Integration

on:
  pull_request:
    branches:
      - main
      - master

jobs:
  version-next:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      version-next: ${{ steps.reference.outputs.next-reference }}
      version-next-strict: ${{ steps.reference.outputs.next-reference }}
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #6.0.1

      - name: Next Reference
        id: reference
        uses: wearefrank/ci-cd-templates/next-reference@50a6bc0338691d1bb0112fb532d99ccee6e4ce30 #2.1.3

  ci:
    uses: wearefrank/ci-cd-templates/.github/workflows/ci-generic.yml@50a6bc0338691d1bb0112fb532d99ccee6e4ce30 #2.1.3
    needs:
      - version-next
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
    with:
      version: ${{ needs.version-next.outputs.version-next }}
      docker-image-repo: ${{ vars.DOCKER_IMAGE_REPOSITORY }}
      docker-image-name: ${{ vars.DOCKER_IMAGE_NAME }}
      upload-sarif-to-security: false
      run-frank-till-healthy-enabled: false

  run-larva-scenarios:
    uses: ./.github/workflows/run-larva-scenarios.yml
    needs:
      - version-next
      - ci
    with:
      image-id: ${{ needs.ci.outputs.image-id }}

  soapui-testrunner:
    uses: wearefrank/ci-cd-templates/.github/workflows/soapui-testrunner.yml@50a6bc0338691d1bb0112fb532d99ccee6e4ce30 #2.1.3
    needs:
      - ci
      - run-larva-scenarios
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
    with:
      soapui-project: 'e2e/SoapUI/zaakbrug-e2e-soapui-project.xml'
      image-id: ${{needs.ci.outputs.image-id}}
      image-build-artifact-name: 'build-docker-image'
      image-tarball-file: 'image.tar'
      setup-script: |
        docker compose -f compose.frank.loc.yaml -f ./contrib/compose.frank.postgres.yaml -f ./contrib/compose.openzaak.loc.yaml up -d
        echo "Services started. Waiting for OpenZaak to be healthy..."
        timeout 300s bash -c 'until [ "$(docker inspect -f "{{.State.Health.Status}}" open-zaak.dev 2>/dev/null)" == "healthy" ]; do sleep 5; done'
        echo "SUCCESS: OpenZaak is healthy. Proceeding to the next step..."
      teardown-script: |
        docker compose -f compose.frank.loc.yaml -f ./contrib/compose.frank.postgres.yaml -f ./contrib/compose.openzaak.loc.yaml down -v
