on: 
  issues:
    types: [opened]

name: Jira gemeente team issue creation from git issue with url, no description

jobs:
  build:
    runs-on: ubuntu-latest
    name: Jira Example
    steps:
    - name: Login
      uses: atlassian/gajira-login@0f47533e5518bdf59c3929fcfe1abd900b9a44b1
      env:
        JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
        JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
        JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}

    - name: create
      id: create
      uses: atlassian/gajira-create@efc6ccbf894ad3f93f0fe588ca46c170340518a2
      with:
        project: GT
        issuetype: Task
        summary: ${{ github.event.issue.title  }} 
        description: ${{ github.event.issue.html_url }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
