name: Release

on:
  push:
    branches:
      - main
      - master

jobs:
  analyze-commits:
    runs-on: ubuntu-latest
    outputs:
      version-next: ${{ steps.next-version.outputs.release-version }}
      version-next-tag: ${{ steps.next-version.outputs.release-tag }}
      version-next-type: ${{ steps.next-version.outputs.release-type }}
    steps:
      - uses: step-security/harden-runner@6c439dc8bdf85cadbbce9ed30d1c7b959517bc49 # v2.12.2
        with:
          disable-sudo: true
          egress-policy: audit
          allowed-endpoints: >
            github.com:443

      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #4.2.2
      
      - name: "Setup Node"
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 #4.4.0
        with:
          node-version: 24

      - name: Install dependencies
        run: yarn global add semantic-release @semantic-release/changelog @semantic-release/git @semantic-release/github @semantic-release/exec @semantic-release/release-notes-generator @semantic-release/commit-analyzer conventional-changelog-conventionalcommits
      
      - name: Get next version
        id: next-version
        run: semantic-release --dryRun
        env:
          GITHUB_TOKEN: ${{ secrets.WEAREFRANK_BOT_PAT }}
          GH_TOKEN: ${{ secrets.WEAREFRANK_BOT_PAT }}

  ci:
    uses: wearefrank/ci-cd-templates/.github/workflows/ci-generic.yml@692c637ef4f5519d986d69e443997ab80fed8deb #2.0.2
    needs: analyze-commits
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
    if: ${{ needs.analyze-commits.outputs.version-next-type != '' }}
    with:
      version: ${{ needs.analyze-commits.outputs.version-next }}
      docker-image-repo: ${{ vars.DOCKER_IMAGE_REPOSITORY }}
      docker-image-name: ${{ vars.DOCKER_IMAGE_NAME }}
      upload-sarif-to-security: false
      run-frank-till-healthy-enabled: false

  run-larva-scenarios:
    uses: ./.github/workflows/run-larva-scenarios.yml
    needs:
      - analyze-commits
      - ci
    with:
      image-id: ${{ needs.ci.outputs.image-id }}

  soapui-testrunner:
    uses: wearefrank/ci-cd-templates/.github/workflows/soapui-testrunner.yml@692c637ef4f5519d986d69e443997ab80fed8deb #2.0.2
    needs:
      - ci
      - run-larva-scenarios
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
    with:
      soapui-project: 'e2e/SoapUI/zaakbrug-e2e-soapui-project.xml'
      image-id: ${{needs.ci.outputs.image-id}}
      image-build-artifact-name: 'build-docker-image'
      image-tarball-file: 'image.tar'
      setup-script: |
        docker compose -f compose.frank.loc.yaml -f ./contrib/compose.frank.postgres.yaml -f ./contrib/compose.openzaak.loc.yaml up -d
        echo "Services started. Waiting for OpenZaak to be healthy..."
        timeout 300s bash -c 'until [ "$(docker inspect -f "{{.State.Health.Status}}" open-zaak.dev 2>/dev/null)" == "healthy" ]; do sleep 5; done'
        echo "SUCCESS: OpenZaak is healthy. Starting tests now..."
      teardown-script: |
        docker compose -f compose.frank.loc.yaml -f ./contrib/compose.frank.postgres.yaml -f ./contrib/compose.openzaak.loc.yaml down -v

  release:
    runs-on: ubuntu-latest
    needs: 
      - analyze-commits
      - ci
      - soapui-testrunner
    steps:
      - uses: step-security/harden-runner@6c439dc8bdf85cadbbce9ed30d1c7b959517bc49 # v2.12.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #4.2.2
        with:
          token: ${{ secrets.WEAREFRANK_BOT_PAT }}

      - name: Download Pre-build Artifacts
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 #4.3.0
        with:
          pattern: pre-build-*
          merge-multiple: true
  
      - name: Download Build Artifacts
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 #4.3.0
        with:
          pattern: build-*
          merge-multiple: true

      - name: Setup Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 #4.4.0
        with:
          node-version: 24
      
      - name: Install dependencies
        run: yarn global add semantic-release @semantic-release/changelog @semantic-release/git @semantic-release/github @semantic-release/exec @semantic-release/release-notes-generator @semantic-release/commit-analyzer conventional-changelog-conventionalcommits
      
      - name: Semantic Release
        run: semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.WEAREFRANK_BOT_PAT }}
          GH_TOKEN: ${{ secrets.WEAREFRANK_BOT_PAT }}

  docker-release:
    uses: wearefrank/ci-cd-templates/.github/workflows/docker-release-generic.yml@791982d73eea13b903eb3bac672915e1337d14a0 #2.0.8
    needs: 
    - analyze-commits
    - release
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
      registry-username: ${{ secrets.DOCKERHUB_USERNAME }}
      registry-token: ${{ secrets.DOCKERHUB_TOKEN }}
    with:
      version: ${{ needs.analyze-commits.outputs.version-next }}
      registry-prefix: 'docker.io'

  update-helm:
    uses: ./.github/workflows/update-helm-chart.yml
    needs: 
      - release
      - analyze-commits
    secrets:
      token: ${{ secrets.WEAREFRANK_BOT_PAT }}
    with:
      version: ${{ needs.analyze-commits.outputs.version-next }}

  docusaurus-release:
    permissions:
      contents: read
      pages: write
      id-token: write
    needs: 
      - release
    # Set to true to enable Docusaurus publishing to GitHub Pages
    if: true
    uses: wearefrank/ci-cd-templates/.github/workflows/docusaurus-release.yml@692c637ef4f5519d986d69e443997ab80fed8deb #2.0.2
