name: Release

on:
  push:
    branches:
      - main
      - master

jobs:
  analyze-commits:
    runs-on: ubuntu-latest
    outputs:
      version-next: ${{ steps.next-version.outputs.release-version }}
      version-next-tag: ${{ steps.next-version.outputs.release-tag }}
      version-next-type: ${{ steps.next-version.outputs.release-type }}
    steps:
      - uses: step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e # v2.10.4
        with:
          disable-sudo: true
          egress-policy: audit
          allowed-endpoints: >
            github.com:443

      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #4.2.2
      
      - name: "Setup Node"
        uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a #4.2.0
        with:
          node-version: 20
      
      - name: Install dependencies
        run: yarn global add semantic-release @semantic-release/changelog @semantic-release/git @semantic-release/github @semantic-release/exec @semantic-release/release-notes-generator @semantic-release/commit-analyzer conventional-changelog-conventionalcommits
      
      - name: Get next version
        id: next-version
        run: semantic-release --dryRun
        env:
          GITHUB_TOKEN: ${{ secrets.WEAREFRANK_BOT_PAT }}
          GH_TOKEN: ${{ secrets.WEAREFRANK_BOT_PAT }}

  ci:
    uses: wearefrank/ci-cd-templates/.github/workflows/ci-generic.yml@40908d8bac3a35504b4ed59d9c462ad715931fb0 #1.3.0
    needs: analyze-commits
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
    if: ${{ needs.analyze-commits.outputs.version-next-type != '' }}
    with:
      version: ${{ needs.analyze-commits.outputs.version-next }}
      docker-image-repo: ${{ vars.DOCKER_IMAGE_REPOSITORY }}
      docker-image-name: ${{ vars.DOCKER_IMAGE_NAME }}
      upload-sarif-to-security: false
      run-frank-till-healthy-enabled: false

  run-larva-scenarios:
    uses: ./.github/workflows/run-larva-scenarios.yml
    needs:
      - analyze-commits
      - ci
    with:
      image-id: ${{ needs.ci.outputs.image-id }}

  run-soapui-tests:
    runs-on: ubuntu-latest
    needs:
      - analyze-commits
      - ci
      - run-larva-scenarios
    steps:
      - uses: step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e # v2.10.4
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #4.2.2

      - name: Download Docker tar
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 #4.1.8
        with:
          name: build-docker-image

      - name: Load Docker tar
        shell: bash
        run: |
          docker load --input image.tar
          docker image ls -a

      - name: Run SoapUI Tests
        run: |
          export ZAAKBRUG_VERSION="${{ needs.analyze-commits.outputs.version-next }}"

          docker image inspect ${{ vars.DOCKER_IMAGE_REPOSITORY }}/${{ vars.DOCKER_IMAGE_NAME }}:${ZAAKBRUG_VERSION}
          docker compose -f ./docker-compose.zaakbrug.dev.yml -f ./docker-compose.zaakbrug.postgres.yml -f ./docker-compose.openzaak.dev.yml --profile soapui up -d
          docker ps

          sleep 90

          STATUS=$(docker inspect --format='{{json .State.Status}}' soapui-testrunner)
          until [ "$STATUS" = '"exited"' ]
          do
            STATUS=$(docker inspect --format='{{json .State.Status}}' soapui-testrunner)
            sleep 15
          done

          EXIT_CODE=$(docker inspect --format='{{json .State.ExitCode}}' soapui-testrunner)
          echo "Exit Code: $EXIT_CODE"

          docker compose -f ./docker-compose.zaakbrug.dev.yml -f ./docker-compose.zaakbrug.postgres.yml -f ./docker-compose.openzaak.dev.yml down
          
          if [ "$EXIT_CODE" -ne 0 ]
            then
              echo "Test(s) failed. Failing the job."
              exit 1
          fi
        timeout-minutes: 15

      - name: Check if test reports created
        run: |
          if [ -z "$(ls -A e2e/reports)" ]
            then
              echo "There is no test report found, tests might not have been run. Failing the job."
              exit 1
          fi

      - name: Upload SoapUI testreports as artifact
        uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 #4.6.0
        if: always()
        with:
          name: reports-soapui-testreports
          path: ./*/reports

  release:
    runs-on: ubuntu-latest
    needs: 
      - analyze-commits
      - ci
      - run-soapui-tests
    steps:
      - uses: step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e # v2.10.4
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #4.2.2
        with:
          token: ${{ secrets.WEAREFRANK_BOT_PAT }}

      - name: Download Pre-build Artifacts
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 #4.1.8
        with:
          pattern: pre-build-*
          merge-multiple: true
  
      - name: Download Build Artifacts
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 #4.1.8
        with:
          pattern: build-*
          merge-multiple: true

      - name: Setup Node
        uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a #4.2.0
        with:
          node-version: 20
      
      - name: Install dependencies
        run: yarn global add semantic-release @semantic-release/changelog @semantic-release/git @semantic-release/github @semantic-release/exec @semantic-release/release-notes-generator @semantic-release/commit-analyzer conventional-changelog-conventionalcommits
      
      - name: Semantic Release
        run: semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.WEAREFRANK_BOT_PAT }}
          GH_TOKEN: ${{ secrets.WEAREFRANK_BOT_PAT }}

  docker-release:
    uses: wearefrank/ci-cd-templates/.github/workflows/docker-release-generic.yml@40908d8bac3a35504b4ed59d9c462ad715931fb0 #1.3.0
    needs: 
    - analyze-commits
    - release
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
      dockerhub-username: ${{ secrets.DOCKERHUB_USERNAME }}
      dockerhub-token: ${{ secrets.DOCKERHUB_TOKEN }}
    with:
      version: ${{ needs.analyze-commits.outputs.version-next }}

  update-helm:
    uses: ./.github/workflows/update-helm-chart.yml
    needs: 
      - release
      - analyze-commits
    secrets:
      token: ${{ secrets.WEAREFRANK_BOT_PAT }}
    with:
      version: ${{ needs.analyze-commits.outputs.version-next }}

  docusaurus-release:
    permissions:
      contents: read
      pages: write
      id-token: write
    needs: 
      - release
    # Set to true to enable Docusaurus publishing to GitHub Pages
    if: true
    uses: wearefrank/ci-cd-templates/.github/workflows/docusaurus-release.yml@40908d8bac3a35504b4ed59d9c462ad715931fb0 #1.3.0
