name: Release

on:
  push:
    branches:
      - main
      - master

jobs:
  analyze-commits:
    runs-on: ubuntu-latest
    outputs:
      version-next: ${{ steps.next-version.outputs.release-version }}
      version-next-tag: ${{ steps.next-version.outputs.release-tag }}
      version-next-type: ${{ steps.next-version.outputs.release-type }}
    steps:
      - uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          disable-sudo: true
          egress-policy: audit
          allowed-endpoints: >
            github.com:443

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #5.0.0
      
      - name: "Setup Node"
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 #6.0.0
        with:
          node-version: 24

      - name: Install dependencies
        run: yarn global add semantic-release @semantic-release/changelog @semantic-release/git @semantic-release/github @semantic-release/exec @semantic-release/release-notes-generator @semantic-release/commit-analyzer conventional-changelog-conventionalcommits
      
      - name: Get next version
        id: next-version
        run: semantic-release --dryRun
        env:
          GITHUB_TOKEN: ${{ secrets.WEAREFRANK_BOT_PAT }}
          GH_TOKEN: ${{ secrets.WEAREFRANK_BOT_PAT }}

  ci:
    uses: wearefrank/ci-cd-templates/.github/workflows/ci-generic.yml@5cc3ad4df08fbbf281fd330b440834815a69e568 #2.1.1
    needs: analyze-commits
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
    if: ${{ needs.analyze-commits.outputs.version-next-type != '' }}
    with:
      version: ${{ needs.analyze-commits.outputs.version-next }}
      docker-image-repo: ${{ vars.DOCKER_IMAGE_REPOSITORY }}
      docker-image-name: ${{ vars.DOCKER_IMAGE_NAME }}
      upload-sarif-to-security: false
      run-frank-till-healthy-enabled: false

  run-larva-scenarios:
    uses: ./.github/workflows/run-larva-scenarios.yml
    needs:
      - analyze-commits
      - ci
    with:
      image-id: ${{ needs.ci.outputs.image-id }}

  soapui-testrunner:
    uses: wearefrank/ci-cd-templates/.github/workflows/soapui-testrunner.yml@5cc3ad4df08fbbf281fd330b440834815a69e568 #2.1.1
    needs:
      - ci
      - run-larva-scenarios
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
    with:
      soapui-project: 'e2e/SoapUI/zaakbrug-e2e-soapui-project.xml'
      image-id: ${{needs.ci.outputs.image-id}}
      image-build-artifact-name: 'build-docker-image'
      image-tarball-file: 'image.tar'
      setup-script: |
        docker compose -f compose.frank.loc.yaml -f ./contrib/compose.frank.postgres.yaml -f ./contrib/compose.openzaak.loc.yaml up -d
      teardown-script: |
        docker compose -f compose.frank.loc.yaml -f ./contrib/compose.frank.postgres.yaml -f ./contrib/compose.openzaak.loc.yaml down -v

  release:
    runs-on: ubuntu-latest
    needs: 
      - analyze-commits
      - ci
      - soapui-testrunner
    steps:
      - uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #5.0.0
        with:
          token: ${{ secrets.WEAREFRANK_BOT_PAT }}

      - name: Download Pre-build Artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 #6.0.0
        with:
          pattern: pre-build-*
          merge-multiple: true
  
      - name: Download Build Artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 #6.0.0
        with:
          pattern: build-*
          merge-multiple: true

      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 #6.0.0
        with:
          node-version: 24
      
      - name: Install dependencies
        run: yarn global add semantic-release @semantic-release/changelog @semantic-release/git @semantic-release/github @semantic-release/exec @semantic-release/release-notes-generator @semantic-release/commit-analyzer conventional-changelog-conventionalcommits
      
      - name: Semantic Release
        run: semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.WEAREFRANK_BOT_PAT }}
          GH_TOKEN: ${{ secrets.WEAREFRANK_BOT_PAT }}

  docker-release:
    uses: wearefrank/ci-cd-templates/.github/workflows/docker-release-generic.yml@5cc3ad4df08fbbf281fd330b440834815a69e568 #2.1.1
    needs: 
    - analyze-commits
    - release
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
      registry-username: ${{ secrets.DOCKERHUB_USERNAME }}
      registry-token: ${{ secrets.DOCKERHUB_TOKEN }}
    with:
      version: ${{ needs.analyze-commits.outputs.version-next }}
      registry-prefix: 'docker.io'

  update-helm:
    uses: ./.github/workflows/update-helm-chart.yml
    needs: 
      - release
      - analyze-commits
    secrets:
      token: ${{ secrets.WEAREFRANK_BOT_PAT }}
    with:
      version: ${{ needs.analyze-commits.outputs.version-next }}

  docusaurus-release:
    permissions:
      contents: read
      pages: write
      id-token: write
    needs: 
      - release
    # Set to true to enable Docusaurus publishing to GitHub Pages
    if: true
    uses: wearefrank/ci-cd-templates/.github/workflows/docusaurus-release.yml@5cc3ad4df08fbbf281fd330b440834815a69e568 #2.1.1
