name: Update Helm Chart

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
        description: New version of ZaakBrug Docker image
    secrets:
      token:
        required: true

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Dispatch an action and get the run ID
        uses: Codex-/return-dispatch@v1.16.0
        id: return_dispatch
        with:
          token: ${{ secrets.token }}
          ref: main
          repo: charts
          owner: wearefrank
          workflow: update-app-version.yml
          workflow_inputs: '{ "chart": "charts/zaakbrug", "appVersion": "${{ inputs.version }}" }'
      - name: Use the output run ID
        run: echo ${{steps.return_dispatch.outputs.run_id}}
